<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:component-scan base-package="com.dayuanit"/>
    
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	  <property name="dataSource" ref="dataSource" />
	  <property name="mapperLocations" value="classpath*:mybatis/mapper/**/*.xml" />
	  <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	    <property name="url" value="jdbc:mysql://127.0.0.1:3306/atm_v3?characterEncoding=utf8"/>
	    <property name="username" value="root"/>
	    <property name="password" value=""/>
	</bean>
	
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
	  <property name="basePackage" value="com.dayuanit.atm.mapper" />
	  <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	
	<tx:annotation-driven transaction-manager="txManager"/><!-- a PlatformTransactionManager is still required -->
    
    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

	<import resource="spring-timer.xml"/><!-- 目录前加上"/"指从根目录上查找属绝对路径，
	不加/的话是指从相对路径找也就是从你这个文件开始的路径来找-->
	<import resource="spring-email.xml"/>
	<!-- 
	<import resource="spring-service.xml"/>
	 -->
</beans>